@import 'variables';
@import 'vue3-toastify/dist/index.css';

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color: $white;
    background-color: $primary-color;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    outline: none !important;
}

a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
}
  
body {
    margin: 0;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 10px;
    border: none;
    padding: 20px 30px;
    font-size: 18px;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    color: $white;
    height: auto;

    &:hover{
        opacity: 0.8;
    }
}

input {
    padding: .75rem;
    border-radius: .5rem;
    border: 1px solid gray;
    background-color: $primary-color;
    color: $white;
    font-size: 16px;

    &:hover,
    &:active,
    &:focus,
    &:focus-visible {
        border: 1px solid $hover-color !important;
    }
}

#app {
    width: 100%;
}

::placeholder {
    color: $placeholder-color;
    opacity: 1; /* Firefox */
  }
  
  ::-ms-input-placeholder { /* Edge 12 -18 */
    color:$placeholder-color;
  }